body {
    background: pink;
    color: royalblue;
}

.heading {
    width : 80%;
    font-size: 22px;

}

.name_of_objects,#result_object_name,#result_object_accuracy{
    color:purple;

}

#camera,#result{
    border: 2px dashed darkgoldenrod;
    width:350px;
    height: 300px;
}

